.env
.env.*
!.env.example
node_modules/
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build/
.git/
.gitignore
tests/
README.md
*.md
sintem.sql